* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

header {
    display: flex;  
    flex-direction: column; /* .header em cima e embaixo o slider */
    height: 100vh; /* 100% da altura do display do dispositivo*/
    background-color: #ccc;
}

.header {
    height: 50px;
    background-color: #520d0d;
}

.slider {
    /*Para tamanhos fixos*/
   /* width: 1080px;
    height: 500px; */
    flex: 1; /* PARA TELAS CHEIAS */
    overflow: hidden; /* Qualquer coisa que passar do tamanho da tela vai cortar, pois não queremos barra de rolagem */
    margin: 0 auto;
}

.slider--controls {
    position: absolute;
    z-index: 99; /* Para os controles ficarem acima da foto */
    width: 100%; /* REMOVER PARA FAZER A LARGURA FIXA */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--control {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
}

.slider--width {
    height: 100%;
    display: flex; /* Para as imagens ficarem uma ao lado da outra*/
    transition: all ease 0.3s;
}

.slider--item {
    width: 100vw;
    height: inherit; /* vai herdar do slider--width */
    background-position: center; /* imagem ficar sempre centralizada */
    background-size: cover; /* Para imagem cobrir toda a área */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider--item h2 {
    color: #fff;
    font-size: 5rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.img1 {
    background-image: url('../imagens/gato.jpg');
}

.img2 {
    background-image: url('../imagens/cachorro.jpg');
}

.img3 {
    background-image: url('../imagens/cavalo.jpg');
}

@media (max-width: 768px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 50%;
    }
}